// Import page-specific CSS files here.
@import "home";
.class-login {
  background: white;
  margin-top: 30px;

}


.class-login .form-control {
  border-radius: 10px;
}

h2 {
  font-size: 29px;
}

body {
  background: -webkit-linear-gradient(110deg, #134e5e, #71b280);
  background: linear-gradient(110deg, #134e5e, #71b280);
}

h1 {
  color: #FED095;
  margin-top: 35px;
  margin-bottom: 32.5px;
}

.hidden-answer {
  display: none;
}

.poker-table {
  background: -webkit-linear-gradient(110deg, #134e5e, #71b280);
  background: linear-gradient(110deg, #134e5e, #71b280);
  border-radius: 100px;
  margin: 0 auto;
  width: 600px;
}

.poker-table h4 {
  color: #FED095;
}
