<div class="banner" style="background-image: url('https://www.elie.net/static/images/banner/fuller-house-exposing-high-end-poker-cheating-devices.jpg');">
  <div class="banner-content">
    <h1>Flop Turn River Poker</h1>
    <p>Learn to play poker the fun way. Whether you're a beginner, plays occasionally or wants to become a professional poker player FTRPoker is the perfect platform for you!</p>
    <a class="btn btn-primary btn-lg">Start now</a>
  </div>
</div>
