<div class="banner" style="background-image: url('<%= image_path("poker_player.jpg") %>');">
  <div class="banner-content">
    <h1>Poker Lab</h1>
    <p>Learn to play poker the fun way. Whether you're a beginner, plays occasionally or wants to become a professional poker player FTRPoker is the perfect platform for you!</p>
    <%= link_to "Learn more", lessons_path, class:"btn btn-primary btn-lg" %>
  </div>
</div>


<div class="banner2">
  <div class="banner-content2">
    <h1>Poker Lab</h1>
    <p>Learn to play poker the fun way. Whether you're a beginner, plays occasionally or wants to become a professional poker player FTRPoker is the perfect platform for you!</p>
    <%= link_to "Start now", lessons_path, class:"btn btn-primary btn-lg" %>
  </div>
</div>

