<div class="card">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= quiz.title %></h3>
    </div>
    <div class="panel-body">
      <% quiz.quiz_statements.each do |quiz_statement| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <%= quiz_statement.statement %>
          </div>

          <div class="panel-body">
            <p><%= quiz_statement.question %></p>
            <hr>
            <div class="text-center">
              <a href="" class="btn btn-primary">The answer</a>
            </div>
            <div>
              <hr>
              <p><%= quiz_statement.answer %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

