<div class="header">
  <h1>Select your level</h1>
  <h4>Based on your knowledge and experience</h4>
</div>

<div class="wrapper">
  <% @lessons.each do |lesson| %>
    <div style="background-image: url('<%= image_path("red-poker-chip.png") %>');">
      <h2><%= lesson.title %></h2>
      <%= link_to 'Start lesson', lesson_path(lesson) %>
    </div>
  <% end %>
</div>
