
<div class="header">
  <h1>Select your level</h1>
  <h4>Based on your knowledge and experience</h4>
</div>

<% @lessons.each do |lesson| %>
  <div class="wrapper">
    <div>
      <h2>Flop</h2>
      <h4>Poker basics</h4>
      <ul>
        <li>How to play</li>
        <li>Hand rankings</li>
        <li>Player positions</li>
        <li>Betting rounds</li>
      </ul>
    </div>

    <div>
      <h2>Flop</h2>
      <h4>Poker basics</h4>
      <ul>
        <li>How to play</li>
        <li>Hand rankings</li>
        <li>Player positions</li>
        <li>Betting rounds</li>
      </ul>
    </div>

    <div>
      <h2>Flop</h2>
      <h4>Poker basics</h4>
      <ul>
        <li>How to play</li>
        <li>Hand rankings</li>
        <li>Player positions</li>
        <li>Betting rounds</li>
      </ul>
    </div>
  </div>
<% end %>
