.banner2 {
  color: #06213C;
  text-align: center;
  min-height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: 100vh;
  background-color: #005754;
}

.banner-content2 {
margin: 0 auto;
}

.banner2 h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner2 p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30%;
  width: 40%;
  margin: 0 auto;
  margin-top: 5%;
}

.banner2 {
  .btn-primary {
    border-radius: 10px;
    margin-top: 5%;
    color: #06213C;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  }
}
