.box {
  display: grid;
  grid-template-columns: 50% 1fr 1fr;
  grid-template-rows: 50% 50%;
  grid-gap: 30px;
  padding: 50px;
  min-height: calc(100vh - 70px);
  background-color: #005754;
}

.info {
  grid-row: 1 / span 2;
  grid-column: 1 / span 1;
  background: #D9D9D9;
  box-shadow: 0 1px 3px #666;
  border-radius: 10px;
  text-align: center;
}

.exer {
  background: #D9D9D9;
  box-shadow: 0 1px 3px #666;
  border-radius: 10px;
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  // background-image: contain;
}

.card-cover {
  // background-size: cover;
}

.info p {
  margin: 0 40px 12.5px;
}

.info img {
  margin-bottom: 30px;
}
