body {
  background-color: #005754;
  color: #999999;
}

.header {
  text-align: center;
  padding: 30px;
}

.header h4 {
  width: 60%;
  margin: 0 auto;
  padding: 30px;
  color: #E9E8E3;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 50px;
  justify-items: center;
  margin-top: -5%;
}

@media (min-width: $screen-sm-min) {
  .wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: $screen-lg-min) {
  .wrapper {
    grid-gap: 100px;
    padding: 135px;
  }
}

.wrapper div {
  border: 1px thin #333;
  text-align: center;
  padding: 20px;
  transition: 1s all;
  position: relative;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
}

.wrapper ul {
  margin-bottom: 80px;
}

.wrapper h2 {
  color: #E9E8E3;
  margin-bottom: 15px;
  margin-left: 20px;
  font-size: 25px;
  margin-top: 10px;
}

.wrapper a {
  color: #E9E8E3;
}

.wrapper div:hover {
  transform: scale(1.1);
}

a {
  text-decoration: none;
  color: #999999;
  margin-left: 20px;
}
a:hover {
  text-decoration:none;
  color: #E9E8E3;
  font-weight: bold;
}
