body {
  background-color: #005754;
  color: #999999;
}

.header {
  text-align: center;
  padding: 30px;
}

.header h4 {
  width: 60%;
  margin: 0 auto;
  padding: 30px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 100px;
  padding: 50px;
}

.wrapper div {
  border: 1px thin #333;
  text-align: center;
  padding: 20px;
  background: #D9D9D9;
  box-shadow: 0 1px 3px #666;
  transition: 1s all;
  position: relative;
  border-radius: 10px;
}

.wrapper ul {
  margin-bottom: 80px;
}

.wrapper h2 {
  color: #06213C;
}

.wrapper div:hover {
  background: white;
  top: -10px;
}

a {
  text-decoration: none;
  color: #999999;
}
a:hover {
  text-decoration:none;
  color: #06213C;
  font-weight: bold;
}
