.panel-default {
  background-color: transparent;

  .panel-default {
    background-color: white;
  }

  .panel-body {
    background-color: rgba(255, 255, 255, 0.4);
  }
}

.opacity5 { opacity: .05; }

.panel-body {
  .btn-primary {
    border-radius: 10px;
    // margin-top: 40px;
    background-color: #278d8a;
    border-color: #278d8a;
  }
}

.black-text {
  color: black;
}

.panel-title {
  padding: 1.2%;
}
