<div class="box">
  <div class="info">
    <h1>How to play</h1>
    <p>this is some text</p>
  </div>
  <div class="exer">
    <p>Text</p>
  </div>
  <div class="exer">
    <p>Text</p>
  </div>
</div>
