<div class="box">
  <div class="info">
    <h3>How to play</h3>
    <p>
    Many of you may be familiar with Poker, which is known by different names. The most popular version is called Texas Hold'em. The game begins after the initial blinds have been placed known as the small blind and big blind. Each player gets 2 personal down cards which cannot be seen till the final showdown.
    </p>
    <p>
    Anticipation, accompanied with experience comes into play during the first round of betting called FLOP where 3 community cards are turned over. The TURN and the RIVER card, 4th and 5th in succession are exposed turn by turn after each round of Betting.
    </p>
    <p>
    When its time for showdown, each player uses his knowledge to make the best possible 5 card combination using personal and community cards.
    </p>
    <%= image_tag("FTR.jpg") %>
  </div>

  <div class="exer">
    <p>What are the first 3 community cards called?</p>
    <% image_tag("") %>
  </div>
  <div class="exer">
    <p>Text</p>
  </div>
  <div class="exer">
    <p>Text</p>
  </div>
  <div class="exer">
    <p>Text</p>
  </div>
</div>
